@page "/R_Horarios"
@page "/R_Horarios/{HorarioId:int}"
@inject IHorarioRepositorio HorarioRepo;
<EditForm Model="horario" OnValidSubmit="Guardar">
    <div class="mb-3">
        <label >Id</label>
        <InputNumber @bind-Value="horario.HorarioId" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="lastname">Dia</label>
        <InputSelect @bind-Value="horario.Dia" class="form-select text-14">
            @foreach(var dias in DiasSemana)
            {
                <option value="@dias">@dias</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label >Hora Inicio</label>
        <InputText @bind-Value="horario.HoraInicio" class="form-control" />
    </div>
    <div class="mb-3">
        <label >Hora Fin</label>
        <InputText  @bind-Value="horario.HoraFin" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>
@code {
    [Parameter]
    public int HorarioId { get; set; }
    List<string> DiasSemana = new List<string> { "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" };
    private Horario horario = new Horario();
    protected override async Task OnInitializedAsync()
    {
        if (HorarioId != 0) // Verifica si HorarioId se ha configurado
        {
            horario = await HorarioRepo.GetHorarioPorIdAsync(HorarioId);
        }
    }

    public async Task Guardar()
    {
        await HorarioRepo.CreateHorario(horario);
    }
}
