@inject IHorarioRepositorio HorarioRepo


<h3>HorarioLista</h3>

@if(horarios == null || horarios.Count() == 0)
{
    <p>No hay.....</p>
}
else{
<ul class="list-unstyled">
    
    @foreach(var hor in horarios)
    {
       
            <li class="oi-media-pause my-3">
                <p>@hor.HorarioId</p>
                <h1>@hor.HoraFin</h1>
            </li>
        
    }
</ul>
}
@code {
    private List<Horario> horarios = new List<Horario>();

    protected override async Task OnInitializedAsync()
    {
        horarios = await HorarioRepo.GetHorario();
    }

}
