@using MudBlazor
@inherits LayoutComponentBase

<div class="" style="min-height: 100vh;">
    <div class="">
        <NavMenuCliente />
    </div>

    <main class="flex-grow-1">
        @Body
    </main>
</div>

<footer class="">
    <Footer></Footer>
</footer>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
